

*,
*::before,
*::after{
    margin : 0;
    padding : 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5% ;
}

.navigation_links{
    list-style-type: none;
    display: inline;
    font-size:small;
    margin-right: 1rem;

}

.navigation_item{
    
    text-decoration: none;
    color: black;

}